.DS_Store

*.class
*.exe
*.jar
*.pyc
*.tmp
*.log

application.linux32/
application.linux64/
application.windows32/
application.windows64/
application.macosx/
application.macosx32/
application.macosx64/


.vscode/
.idea/
*.swp
*~
